{
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "script",
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-plusplus": 0,
    "strict": ["error", "safe"],
    "import/no-extraneous-dependencies": ["error", {devDependencies: ["**/test/**"]}],
    "no-restricted-properties": [0, {"object": "Math", "property": "pow"}],
  }
}
